.container-fluid .row {
    width: 100%;
    height: 100%;
}

.openseadragon
{
    width: 100%;
    height: 800px;
    overflow: hidden;
    border:     1px solid black;
    color:      #333; /* text color for messages */
    background-color: grey;
}

.navigator .highlight{
    opacity:    0.1;
    filter:     alpha(opacity=10);
    outline:    2px solid #900;
    background-color: #900;
}
.highlight{
    opacity:    0.3;
    filter:     alpha(opacity=20);
    outline:    5px auto #0A7EbE;
    /*background-color: #6d9cff;*/
}


#osdcontainer {
    position: relative;
}
#osdcontainer #openseadragon1 {
    position: absolute;
}

#osdcontainer #infooverlay {
    position:absolute;
    bottom:0; right:0;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index:1;
}

#infotext {
    opacity:    0.8;
    border:     1px solid black;
    color:      #333; /* text color for messages */
    background-color: white;
}

#infotext * {
    padding: 5px 5px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-remove {
    transition: all linear 0.3s;
}

.animate-show-hide.ng-hide-add {
    transition: all linear 0s;
}

.smallbtnicon {
    max-width: 20px;
}

.cmapselector {
    overflow: visible !important;
    z-index:9999;
}

.cmapselector>li>a {
    padding: 10px 3px;
    width: 200px;
}

.btn-group {
    z-index: inherit;
}

/*
Allow angular.js to be loaded in body, hiding cloaked elements until
templates compile.  The !important is important given that there may be
other selectors that are more specific or come later and might alter display.
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}