<navbar active="activity"></navbar>
<div class="container">

    <div class="header">
        <div class="container">
            <h2>Activity</h2>
        </div>
    </div>

    <h4 class="text-success">Services Status <small>last updated 5 minutes ago</small></h4>

    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-xs-offset-1 col-xs-10">
            <li>Filewatcher is <span class="text-warning">idle</span></li>
            <li>Archiver is <span class="text-warning">idle</span> </li>
            <li>Downloader is <span class="text-success">active</span> </li>
        </div>
    </div>


    <hr>
    <h4 class="text-success">Completed Processes <small>last 24 hours</small></h4>

        <div class="row">
            <div class="col-md-11 col-md-offset-1 col-xs-offset-1 col-xs-10" ng-repeat="comp in comp_proc">
                <label>
                    <a href="" ng-click="showme = comp.id" ng-hide="showme == comp.id"><span class="text-info"><i class="fa fa-fw fa-plus-circle"></i></span></a>
                    <a href="" ng-click="showme = ''" ng-show="showme == comp.id"><span class="text-info"><i class="fa fa-fw fa-minus-circle"></i></span></a>
                    {{comp.name}} - <a href="" ng-click="clear_comp_proc(comp)"><span class="text-danger"><i class="fa fa-fw fa-trash-o"></i></span></a>
                </label>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 100%">
                    </div>
                </div>
                <div class="animate-show-hide" ng-show="showme == comp.id">
                    <ul>
                        <li><small><strong>Started At:</strong> {{comp.started_at}}</small></li>
                        <li><small><strong>Ended At:</strong> {{comp.ended_at}}</small></li>
                        <li><small><strong>Owned By:</strong> {{comp.owner}}</small></li>
                        <li><small><strong>ReferenceID:</strong> {{comp.refID}}</small></li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>



    <h4 class="text-info">Active Processes</h4>

        <div class="row">
            <div ng-show="curr_proc.length < 1" class="col-md-9 col-md-offset-1 col-xs-offset-1 col-xs-10">
                <h6>No Active processes found</h6>
            </div>
            <div class="col-md-11 col-md-offset-1 col-xs-offset-1 col-xs-10" ng-repeat="curr in curr_proc">
                <label>{{curr.name}} - {{curr.status}} | <span class="text-danger"><a href="" ng-click="clear_curr_proc(curr)"><i class="fa fa-fw fa-ban"></i></a></span></label>
                <div class="progress">
                    <div class="progress-bar progress-striped active" style="width: {{curr.progress * 100}}%">
                    </div>
                </div>
            </div>
        </div>

    <h4 class="text-warning">Pending Processes</h4>

    <div class="row">
        <!--<div ng-show="curr_proc.length < 1" class="col-md-9 col-md-offset-1 col-xs-offset-1 col-xs-10">-->
            <!--<h6>No Pending processes found</h6>-->
        <!--</div>-->
        <div class="col-md-9 col-md-offset-1 col-xs-offset-1 col-xs-10">
            <label>Purge Expired Raw Exposures (repeats daily@04:00:00UTC)</label>
            <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            </div>
        </div>
    </div>

    <!--<label>Archiving 237 Raw Exposures</label>-->
    <!--<div class="progress progress-striped active">-->
        <!--<div class="progress-bar progress-bar-info" style="width: 40%">-->
            <!--58/237-->
        <!--</div>-->
    <!--</div>-->


    <!--<label>Thawing 17 Final Exposures</label>-->
    <!--<div class="progress progress-striped active ">-->
        <!--<div class="progress-bar progress-bar-info" style="width: 5%">-->
            <!--1/17-->
        <!--</div>-->
    <!--</div>-->

    <!--<h4 class="text-warning">Pending Processes</h4>-->

    <!--<label>Thawing 12 Final Exposures</label>-->
    <!--<div class="progress">-->
        <!--<div class="progress-bar progress-bar-info" style="width: 0%"></div>-->
    <!--</div>-->

    <!--<label>Purge Expired Raw Exposures (repeats daily)</label>-->
    <!--<div class="progress">-->
        <!--<div class="progress-bar progress-bar-info" style="width: 0%"></div>-->
    <!--</div>-->

</div>
