<navbar title="{{title}}" active="demo"></navbar>
<div class="container-fluid main-container">

    <div class="row">
        <div class="col-md-3 col-sm-4 sidebar">
            <br>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="(id, d) in demos" ng-click="launchDemo(id)">
                    <img class="smallbtnicon" src="{{d.img}}"> {{d.title}}
                </a>
            </div>
            <div class="panel panel-info" ng-show="activedemo">
                <div class="panel-heading">
                    <h3 class="panel-title">{{activedemo.title}}</h3>
                </div>
                <div class="panel-body">
                    {{activedemo.desc}}
                </div>
            </div>
        </div>

        <div id="demoTarget" class="col-md-9 col-sm-8 col-md-offset-3 col-sm-offset-4 content" style="margin-top: 40px">
        </div>

    </div>
    
</div>
