<!--<navbar active="imagex"></navbar>-->


<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="btn-toolbar">
                <div class="btn-group" style="display: flex">
                    <!--<a class="btn btn-success" ng-click='getImages(addImages)'>Add Image</a>-->
                    <a class="btn btn-default" ng-click='gridView()' ng-class="{active : arrangement == 'grid'}" ng-show="model.multi" ng-disable="arrangement == 'grid'">
                        <img class="smallbtnicon" src="public/images/icons/grid.png">
                    </a>
                    <a class="btn btn-default" ng-click='wcsView()' ng-class="{active : arrangement == 'wcs'}" ng-show="model.multi" ng-disable="arrangement == 'wcs'">
                        <img class="smallbtnicon" src="public/images/icons/wcs.png">
                    </a>
                    <a class="btn btn-default" ng-class="{active : scalebar}" ng-click='toggleScalebar()'>
                        <img class="smallbtnicon" src="public/images/icons/ruler.png">
                    </a>
                    <a class="btn btn-default" ng-class="{active : infooverlay}" ng-click="infooverlay = !infooverlay" ng-disable="arrangement == 'grid'">
                        <img class="smallbtnicon" src="public/images/icons/info.png">
                    </a>
                    <div class="btn-group">
                        <a role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img class="smallbtnicon" src="public/images/icons/color-wheel.png">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu cmapselector">
                            <li ng-repeat="(key, value) in colormaps" ng-click="colorize(key, null)" ng-class="{active : model.cmap == key}">
                                <a><div style="width:100px;" colormap cmap="colormaps[key]" width=100 height=10 label="  {{key.split('_')[0]}}"></div></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <table class="table table-condensed" ng-show="model.multi">


                <tr ng-repeat-start="(key, value) in associations" ng-class="{info: value.selected}">
                    <td>
                        <i class="fa fa-fw fa-plus-circle text-info" ng-hide="model.activeRow == key;" ng-click="model.activeRow = key;"></i>
                        <i class="fa fa-fw fa-minus-circle text-warning" ng-show="model.activeRow == key;" ng-click="model.activeRow = ''"></i>

                        <i class="fa fa-fw fa-eye-slash text-danger" ng-show="value.opacity == 0" ng-click="value.opacity = 1; viewer.forceRedraw()"></i>
                        <i class="fa fa-fw fa-eye text-success" ng-show="value.opacity != 0;" ng-click="value.opacity = 0; viewer.forceRedraw()"></i>

                        <!--<i class="fa fa-fw fa-random text-success" ng-click="colorize(value); viewer.forceRedraw()"></i>-->
                    </td>

                    <td><em>{{images[key].header['OBJECT']}}</em></td>
                </tr>
                <tr class="animate-show-hide" ng-repeat-end ng-show="model.activeRow == key;">
                    <td colspan="2">
                        <table class="table table-condensed">
                            <tr>
                                <td><b>Filter</b></td>
                                <td>{{images[key].filter}}</td>
                            </tr>
                            <tr>
                                <td><b>position.x</b></td>
                                <td><input ng-model="value.x" ng-change="reposition(value)" type="number"/></td>
                            </tr>
                            <tr>
                                <td><b>position.y</b></td>
                                <td><input ng-model="value.y" ng-change="reposition(value)" type="number" /></td>
                            </tr>
                            <tr>
                                <td><b>Opacity</b></td>
                                <td><input ng-model="value.opacity" ng-change="viewer.forceRedraw()" /></td>
                            </tr>
                            <tr>
                                <td><b>Rotation</b></td>
                                <td><input ng-model="value.degrees" ng-change="value.setRotation(value.degrees);" /></td>
                            </tr>
                            <tr>
                                <td><b>Colormap</b></td>
                                <td><select class="form-control input-sm" ng-model="value.cmap" ng-change="colorize(value.cmap, value)">
                                    <option ng-repeat="(km, value) in colormaps">{{km}}</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td><b>Composite Operation</b></td>
                                <td><select class="form-control input-sm" ng-model="value.compositeOperation" ng-change="viewer.forceRedraw()">
                                    <option ng-repeat="comp in compositeOptions">{{comp}}</option>
                                </select></td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="osdcontainer" class="col-md-8 col-xs-12">
            <div id="{{ixid}}" class="openseadragon" style="height: {{ixheight}}px;">
                <div id="infooverlay" ng-show="infooverlay">
                    <div id="infotext">
                        <small>{{model.infocoords.ra | number:4}}, {{model.infocoords.dec | number:4}}</small>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
