<navbar title="{{title}}" active="search" loggedin="true" username="{{username}}"></navbar>

<div class="header">
    <div class="container">
        <h2>Search</h2>
    </div>
</div>

<div class="container">

    <form class="form-horizontal">
        <fieldset>

            <div class="form-group">
                <label class="col-md-4 control-label">Filename</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchform.filename" placeholder="filename"/>
                    </div>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label">Search Header Key</label>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" ng-model="headerkey" placeholder="CAL-OBS"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label">Search Operator</label>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" ng-model="searchop" placeholder="[gt|lt|eq]"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-md-4 control-label">Search Header Value</label>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" ng-model="headerval" placeholder=""/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-info" ng-click="getexposures()">Get Images</button>
                    <a type="button" ng-show="selected > 0" class="btn btn-success" ng-click="download()"><i class="fa fa-fw fa-eye"></i> View Selected</a>

                </div>
            </div>



        </fieldset>


    </form>

    <span ng-show="exposures.length">{{exposures.length}} results</span>

    <table class="table table-bordered table-hover table-condensed" ng-show="exposures.length">
        <thead>
        <th><input type="checkbox" class="input" ng-model="selectall" ng-click="toggleselectall()"></th>
        <th></th>
        <th>ID</th>
        <th>Exposure Time</th>
        <th>Timestamp</th>
        <th>Filesize</th>
        <th>Metadata</th>
        </thead>
        <tr ng-repeat-start="exposure in exposures" ng-click="toggleselectexposure($index)" ng-class="{active: exposure.selected}">
            <td><input type="checkbox" class="input" ng-model="exposure.selected" ng-change="toggleselectexposure($index)"></td>
            <td>
                <i class="fa fa-fw fa-plus-circle text-info" ng-hide="showdiv;" ng-click="showdiv = true; $event.stopPropagation();"></i>
                <i class="fa fa-fw fa-minus-circle text-warning" ng-show="showdiv" ng-click="showdiv = false; $event.stopPropagation();"></i>
            </td>
            <td>{{exposure.name}}</td>
            <td>{{exposure.header['EXPTIME']}}</td>
            <td>{{exposure.header['DATE-OBS']}}</td>
            <td>{{exposure.size | bytes}}</td>
            <td><i class="fa fa-fw fa-file text-info" ng-click="infodump($index); $event.stopPropagation();"></i></td>
        </tr>
        <tr ng-repeat-end ng-show="showdiv">
            <td colspan="5">
                <imagexviewer imageids='{{[exposure.id]}}' ixid="{{exposure.id}}" ixheight=500 ng-if="showdiv"></imagexviewer>
            </td>
        </tr>
    </table>
    </ul>


</div>