<navbar title="{{title}}" active="signin"></navbar>
<div class="container">
    <div class="jumbotron">
    <h1>Sign in</h1>

        <div class="form-group">
            <button type="button" class="btn btn-danger btn-md" ng-click="begin_iucas()">
                <img src="images/trident.png"/>&nbsp;&nbsp;&nbsp;Login with IU Account
            </button>

            <button data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">Request Access</button>
        </div>


        <div class="col-md-6">
        <div id="local-reg" class="collapse" class="col-md-3 col-md-offset-1">
            <form>
                <div class="form-group">
                    <p></p>
                    <label>IU Username:</label>
                    <input class="form-control" type="text" name="username" ng-model="username"/>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary btn-sm" value="Submit" ng-click="requestAccess()"/>
                </div>
            </form>
        </div>
        </div>

    </div>
</div>