<navbar title="{{title}}" active="users"></navbar>
<div class="container">

    <table class="table table-hover table-condensed">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        </thead>
        <tr ng-repeat="u in users">
            <td>
                <i class="fa fa-fw fa-check text-success"></i>
            </td>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td><span ng-repeat="role in u.roles">{{role}}</span></td>
        </tr>
    </table>
</div>
