<!doctype html>

<html ng-app="myapp">
<head>

	<title>Simple Node/Angular App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">


    <!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script src="public/js/simplelist.js"></script>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container">

        <h2>{{title}}</h2>

        <label>Search: <input ng-model="searchText"></label>
		<ul>
			<!--<li ng-repeat="person in people | filter:searchText">-->
            <li ng-repeat="person in people">
                <!--<span ng-show="person.gender == 'boy'"><i class="fa fa-fw fa-user" style="color:lightblue"></i></span>-->
                <!--<span ng-show="person.gender == 'girl'"><i class="fa fa-fw fa-user" style="color:pink"></i></span>-->
				{{person.name}}, {{person.age}} years old
			</li>
		</ul>

		<div id="people-form" class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<form>
					<div class="form-group">


                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="formData.name" required>
                        </div>

                        <div class="form-group">
                            <label>Age</label>
                            <input type="number" name="age" class="form-control" ng-model="formData.age" ng-min="0" ng-max="130">
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            <select ng-model="formData.gender">
                                <option value="boy" selected>Boy</option>
                                <option value="girl">Girl</option>
                            </select>
                        </div>

					</div>

					<button class="btn btn-success" ng-click="addperson()">Add Person</button>
				</form>
			</div>
		</div>


	</div>

</body>
</html>
